nav {
  height: auto;
  width: 100vw;
  position: absolute;
  left: 0;
}
nav .navBar{
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
nav .navBar div{
  text-align: center;
  width: 195px;
}
nav .navBar div img{
  max-width: 100%;
  height: auto;
}
nav .navBar ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}
nav .navBar li {
  text-align: center;
}
nav .navBar li a{
  color: white;
  text-decoration: none;
  font-size: large;
}
nav .navBar li #navKontakt{
  margin-left: 1rem;
  padding: 0.5rem 1rem;
}


/* @media screen and (max-width: 768px) {

} */
