* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}

nav .navBar {
  height: auto;
  width: 100vw;

  box-sizing: border-box;
  padding: 1rem 2rem;

  position: absolute;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .navBar .img-container {
  text-align: center;
  width: 195px;
}
nav .navBar .img-container img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

nav .navBar .links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  margin-right: 1rem;
}
nav .navBar .links-container span {
  text-align: center;
  color: white;
}

nav .navBar .links-container span a {
  color: white;
  text-decoration: none;
  font-size: large;
  width: 100%;
  width: 100%;
  display: block;
}

#navKontakt {
  padding: 0.6rem 1rem;
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  nav .navBar {
    position: static;
    background: #0c1c24;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  nav .navBar .img-container {
    width: 100%;
  }

  nav .navBar .img-container img {
    width: auto;
    max-height: 60px;
  }

  nav .navBar .links-container {
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0 0 0;

    width: 100%;
  }
  nav .navBar .links-container span {
    text-align: center;
    width: 100%;
  }
  nav .navBar .links-container span  a{
    width: 100%;
    display: block;
  }

  #navKontakt {
    margin-left: 0;
  }
}
